*{

}
.story p{
    text-align: justify;
    color: #050806;
    background-color: rgb(120, 182, 182,0.7);
    font-size: 25px;
    font-weight: 500;
    word-spacing: 1.2px;
    border: 5px solid;
    border-color: aqua;
    padding: 15px;
    border-left: none;
    border-right: none;
    border-radius: 5%;
}

.poem{
    background-color: rgba(108, 179, 127, 0.5);
    border:10px solid;
    border-radius: 48%;
    font-size: 25px;
    text-align: center;
    padding: 10%;
    border-color:rgb(0, 17, 255) ;
    border-left: none;
    border-right: none;
    
}

.verse_1{
    text-align: left;
    padding: 7%;
    padding-bottom: 2%;
    padding-left: 15%;
    color:orange;
}
.verse_2{
    text-align: center;
    padding: 0%;
    padding-bottom: 2%;
    color:orange;
    
}
.verse_3{
    text-align: left;
    padding: 7%;
    padding-bottom: 2%;
    color:rgb(105, 251, 7)
}
.verse_4{
    padding-top: 2%;
    padding: 7%;
    text-align:center;
    color:rgb(105, 251, 7)
}

.verse_5{
    text-align: left;
    padding: 7%;
    padding-bottom: 2%;
    color:blue;
}
.verse_6{
    padding-top: 2%;
    padding: 7%;
    text-align:center;
    color:blue;
}

.verse_7{
    text-align: left;
    padding: 5%;
    padding-bottom: 2%;
    color:pink;
}
.verse_8{
    padding-top: 2%;
    padding: 5%;
    text-align:center;
    color:pink;
}
