*{
    background-attachment: fixed;
}

.heading h1{
    background-color: rgba(112, 158, 198, 0.05);
    font-size: 10vh;
    text-align: center;
    font-weight: 800;
    color: orange;
    box-shadow: 16px;
    border:4vh groove;
    border-color: rgb(149, 248, 0,0.54);
    border-radius: 60%;
    border-right: none;
    border-bottom: none;
    padding: 6%;
    padding-bottom: 10%;
}

.body {
    background-color: rgba(17, 34, 50, 0.4);
    text-align: center;
    font-size: 8vh;
    word-spacing: 7vh;
    border: 3vh solid;
    padding: 7px;
    border-radius: 40%;
    border-color: rgb(0, 255, 242,0.4);
    border-bottom: none;
    border-right: none;
    
    
}
.one{
    color: rgb(195, 195, 25);
    font-style: oblique;
   
    border-radius: 35%;
    overflow: hidden;
    text-align: left;
    padding: 7%;
    text-decoration: none;
    padding-top: 5%;
    padding-bottom: 5%;
}
.two{
    color: rgb(168, 222, 237);
    font-style: oblique;
    
    border-radius: 15%;
    overflow: hidden;
    text-align: right;
    padding: 7px;
    text-decoration: none;
}
.three{
    color: rgb(205, 238, 15);
    font-style: italic;
    text-decoration:none;
    border-radius: 15%;
    overflow: hidden;
    padding: 6px;
    
}
.four{
    color: rgb(159, 170, 97,0.8);
    font-style: italic;
    text-decoration: none;
    border-radius: 17%;
    overflow: hidden;
    padding: 7px;

}

.finale p{
    color:rgb(107, 195, 213,0.8);
    background-color: rgba(41, 80, 112, 0.7);
    text-align: justify;
    text-transform: uppercase;
font-size: 5vh;
border-radius: 5vh;
border-color: aquamarine;
border:5px solid;
padding: 6vh;
font-weight: bold;

}
.cookie{
    position: relative;
    text-align: center;
    border: 4vh solid;
    border-left: 0px;
    border-right:0px ;
    border-radius: 50%;
    border-bottom-color: rgba(125,152,235,0.7);
    border-top-color: brown;
    padding: 14px;
  }
.footer h3{
    color:green;
    background-color: rgba(104, 104, 195, 0.65);
    text-align: center;
    font-size: 7vh;
    text-transform: uppercase;
    border-radius: 5vh;
    border:10px solid;
    border-left: none;
    border-right: none;
    padding-top: 2vh;
    padding-bottom: 1vh;
    text-decoration: linen;
    text-decoration-color: green;
}
