body {
  background-image: url("../assets/night.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Georgia, serif;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.main {
  padding: 3vh;
}

.paragraph {
  background-color: rgba(223, 220, 245, 0.753);
  border-radius: 15%;
  padding: 2vh;
  text-align: center;
  color: rgb(132, 4, 252);
  font-size: 2.5vh;
}

.name {
  font-size: 3vh;
  font-weight: bold;
  color: #ff8c00;
}

.alias {
  font-size: 2.5vh;
  font-style: italic;
  color: lightgreen;
}

.highlight {
  color: aqua;
  font-size: 3vh;
}

.h2o {
  font-size: 3vh;
  background-color: rgba(4, 9, 41, 0.283);
  color: rgb(237, 209, 172);
  padding: 0.3vh 1vh;
  border-radius: 1vh;
}

.olist ol {
  text-align: left;
  margin-left: 20%;
  font-size: 2.5vh;
}

.quote {
  color: rgb(12, 244, 132);
}

.finale {
  margin-top: 4vh;
}

.ulist ul {
  list-style-type: disc;
  text-align: left;
  margin-left: 20%;
  font-size: 2.5vh;
}

.dlist-header {
  background-color: rgba(228, 22, 22, 0.379);
  border-radius: 15%;
  padding: 1vh;
  display: inline-block;
  margin-top: 2vh;
  font-size: 2.5vh;
}

.dlist {
  margin-top: 1vh;
  font-size: 2.3vh;
  text-align: left;
  margin-left: 20%;
}

.coming-soon {
  display: block;
  text-align: center;
  font-size: 3vh;
  color: aqua;
  margin-top: 5vh;
}
